<h2><%= @user.name %></h2>

<% if @user.can_add_friend?(current_user) %>
  <%= button_to "Add Friend", addfriend_user_path(current_user, :friend_id => @user.id) %>
<% end %>

<h2>List user friends</h2>

<ul><% @user.all_friends.each do |f|%>
  <li>
      <%= f.name %>

      <% if @user == current_user # My profile page %>
          <%= link_to "unfriend", unfriend_user_path(current_user, :friend_id => f.id), method: :post %>
      <% elsif f == current_user # User profile page %>
        <%= link_to "unfriend", unfriend_user_path(current_user, :friend_id => @user.id), method: :post %>
      <% end %>

  </li>
<% end %></ul>
