<% if current_user %>
  Hi, <%= current_user.name %>
  <%= current_user.email %>
  <%= link_to t("logout"), auth_signout_path, method: :delete %>
<% else %>
  <%= link_to "Facebook login", "/auth/facebook" %>
<% end %>

<h1>Show Photos</h1>
<% @photos.each do |photo| %>
  <%= link_to image_tag(photo.avatar.url(:medium)), photo_path(photo) %>
<%if current_user%>
  <% if photo.can_be_liked?(current_user) %>
      <%= link_to "Like", like_photo_path(photo), :method => :post %>
    <%else%>
      <%= link_to "Unlike", unlike_photo_path(photo), :method => :post %>
  <% end %>
<%end %>
  <%= photo.likes_count %>
<% end %>

<h1>Upload Photos</h1>
<%= form_for Photo.new, :url => photos_path, :html => { :multipart => true }, :method => "post" do |f| %>
  <%= f.file_field :avatar %>
  <%= f.submit %>
<% end %>
