<h1><%= @photo.title %></h1>
<%= link_to "edit", edit_photo_path(@photo) %>
<%= link_to "destroy", photo_path(@photo), method: :delete %>
<%= link_to "Back", photos_path %><br>
<%= image_tag @photo.avatar.url %>